@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
font-family: 'Do Hyeon', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Noto Sans KR', sans-serif;
}



a {
	text-decoration-line: none;
}

.dining_title {
	font-weight: bold;
	color: #005700;
}

.dining_subtitle {
	font-weight: bold;
	color: #008000;
}

.dininginfo_title {
	font-size: 30px;
	margin-top: 100px;
}

.dining_maintitle{
	font-size: 25px;
	font-weight: bold;
}

#dining_select {
	margin: auto;
	float: center;
}

.dining_font{
	font-family: 'Noto Sans KR', sans-serif;
	margin: auto;
    transform : rotate(0.04deg); 
}

#dining_select div {
	margin-bottom: 10px;
}

#dining_select button {
	float: right;
}
#dining_info {
	width: 70%;
	height: auto;
	position: relative;
	margin: 0 auto;
	margin-bottom: 50px;
}

#dining_info img {
	width: 70%;
	height: auto;
	margin: 0 auto;
}

#row_dining_info {
	overflow : hidden;
	width: 60%;
	margin: auto;
}

#col_dining_info1 {
	float: left;
	width: calc(100% - 70px);
	
}

#col_dining_info2 {
	float: right;
	width: 70px;
	text-align: left;
	margin: auto;
}

#j_button {
    margin: 10px;
}

.diningbtn {
	margin: 20px;
	float: center;
}

.diningcenter{
	text-align: center;
}

.diningcenter input[type="button"]{
	margin-top:20px;
}

	
.j-dining-img {
	width: 640px;
	height: 480px;
	object-fit: cover;
}

.diningreserv {
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
}



.slider {
	width: 640px;
	height: 480px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.slider input[type=radio] {
	display: none;
}

ul.imgs {
	padding: 0;
	margin: 0;
}

ul.imgs li {
	position: absolute;
	left: 640px;
	transition-delay: 1s;
	list-style: none;
	padding: 0;
	margin: 0;
}

.bullets {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	z-index: 2;
}

.bullets label {
	display: inline-block;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.55);
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked ~.bullets>label:nth-child(1)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(2):checked ~.bullets>label:nth-child(2)
	{
	background-color: rgb(255, 255, 255);
}

.slider input[type=radio]:nth-child(3):checked ~.bullets>label:nth-child(3)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(4):checked ~.bullets>label:nth-child(4)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked ~ul.imgs>li:nth-child(1)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(2):checked ~ul.imgs>li:nth-child(2)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(3):checked ~ul.imgs>li:nth-child(3)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(4):checked ~ul.imgs>li:nth-child(4)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}


.dining_table {
	margin: auto;
	width: 500px;
	margin-top: 150px;
    margin-bottom: 200px;  
    height: 500px;
}
.dininginfo_table {
	margin: auto;
	width: 40%;
	min-width: 550px;
	margin-top: 20px;
    margin-bottom: 200px;  
    height: 500px;
    
}

.dining4_table {
	height: 500px;
}
