.offcanvas-body{
	
	display:flex;
	flex-direction:column;
	align-items:center;
	padding-top:75px;
	padding-bottom:75px;
}
.offcanvas-body> div {
	margin-top:80px;
}
.offcanvas-body> div a{
	text-decoration:none;
	font-size:30px;
	font-weight:600;
}
.offcanvas-body> div a{
	color:black;
}
.offcanvas-body> div a:link{
	color: black;
}